* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
:root {
  --Purple-: hsl(259, 100%, 65%);
  --Light-red-: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --primary-font: "Poppins", sans-serif;
  --input-fnt-size: 32px;
}
@font-face {
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-family: main-font;
}
body {
  font-family: var(--primary-font);
}
label {
  color: var(--Smokey-grey);
  text-transform: uppercase;
}
input {
  font-size: var(--input-fnt-size);
  font-weight: 900;
}
p {
  margin: 0;
}
.container {
  border-radius: 25px 25px 75px 25px;
  height: 400px;
  width: 300px;
}
.upper {
  position: relative;
  height: 40%;
  border-bottom: 1px solid var(--Light-grey);
}
input {
  font-size: 25px;
}
button {
  background-color: var(--Purple-);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.down {
  font-size: var(--input-fnt-size);
  font-weight: 900;
  height: 65%;
}
span {
  color: var(--Purple-);
  letter-spacing: 5px;
}
.icons_container {
  position: fixed;
  background-color: rgba(220, 220, 220, 0.9);
  width: 100px;
  border-radius: 10px;
  padding: 0 5px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 25px;
}
/* validation  */
.shakes {
  animation: shake 0.08s linear 1 backwards;
}
@keyframes shake {
  0% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(6px);
  }
}
.unvalid_label {
  color: red !important;
}
.uvalid_input {
  border: red 1px solid !important;
  position: relative;
  text-decoration: line-through;
}
.unvalid_ {
  color: red;
  font-size: 8px;
  letter-spacing: 1px;
  position: relative;
  left: 2px;
  margin-top: 5px;
  font-weight: 600;
}
@media (min-width: 320px) {
    .container {
      width: 300px;
    }
  }
  @media (min-width: 767px) {
    .container {
      width: 500px;
      padding: 30px;
    }
    button {
      left: 90%;
      transform: none;
    }
  }